<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCAW4yIq5sYObFDcEzq4B69ODbNpN-Iv9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>116741008181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>name.leonardosolis.GrupoSolis</string>
	<key>PROJECT_ID</key>
	<string>gruposolisapp</string>
	<key>STORAGE_BUCKET</key>
	<string>gruposolisapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116741008181:ios:b96a2a359525d43de43a7c</string>
</dict>
</plist>